<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <link rel="stylesheet" href="https://themeswitcher.csh.rit.edu/api/get" media="screen">
    <link rel="stylesheet" href="/static/plug.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/upload">Plug</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/upload">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="jumbotron" style="max-width: 800px">
                    <h1 class="display-3">Upload a Plug!</h1>
                    <p class="lead">You will lose 1 drink credit in exchange for a 100 view-limit of your plug.<br> Plugs must be 728x200 pixels and in PNG, or JPG format</p>
                    <hr class="my-4">

                    <form action="/upload" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input class="form-control-number" id="numCredits"
                            name="numCredits" aria-describedby="numHelp"
                            type="number" value="1">
                            <small id="numHelp" class="form-text
                            text-muted">Increase the number of credits to pay
                            for extended-air-time.</small>
                            <input class="form-control-file" id="fileUpload" name="fileUpload" aria-describedby="fileHelp" type="file">
                            <small id="fileHelp" class="form-text text-muted">Your Plug must be approved before it will appear for viewing. Any member of the following groups (drink, eboard, rtp) can do so via the admin page.</small>
                        </div>
                        <div class="float-right">
                            <input class="btn btn-primary btn-lg" href="/upload" role="button" value="Upload" name="submit" type="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="agreementModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">User Agreement</h5>
                </div>
                <div class="modal-body">
                    <p>The CSH Code Of Conduct Section 8 prohibits the sending of content that may harass others.</p>
                    <p>Please review the <a href="https://github.com/ComputerScienceHouse/CodeOfConduct" target="_blank">CSH Code Of Conduct</a> before uploading content to Plug.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Agree</button>
                </div>
            </div>
        </div>
    </div>

    <div>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">CSH Plug on <a href="https://github.com/computersciencehouse/csh-plug">GitHub</a></span>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script>
        $('#agreementModal').modal('show')
    </script>

</body>

</html>
